* {
    margin: 0;
    padding: 0;
}

#app {
}

.slide-container {
    height: 80vh;
    width: 80vw;
    padding-left: 10vw;
    overflow: hidden;
    position: relative;
}

.slide-item {
    transition: all 1s ease-in-out;
    position: absolute;
}
.not-show{
    opacity: 0;
}
.show {
    opacity: 1 ;
}

.login {
    float: left;
}

.register {
    float: right;
}